extends ../../layouts/master
block content
  h1 New Item
  
  
  
  form(method='post', action='/items')
    label(for='title') Title
    input#title.form-control(type='text', name='title', autofocus=true)
    label(for='due') Due
    input#dueDate.form-control(type='date', name='dueDate')
    label(for='tags') Tags
    input#tags.form-control(type='text', name='tags')
    label(for='priority') Priority
    select#priority.form-control(name="priority")
      option(value="High") High
      option(value="Medium") Medium
      option(value="Low") Low
    button(type='submit') Submit
        
        
    
